
    <form  [formGroup]="user" (ngSubmit)="loginUser()">
      <div class="mb-3">
    <label id="fname" class="form-label">first Name</label>
    <input type="text" class="form-control"  id="fname" formControlName="firstName"  (mouseenter) ="showError1 = true; "  (mouseleave) ="showError1 = false;">
    <div class="form-text" *ngIf="showError1 && firstName.touched && firstName.invalid">
    Name is required
    </div>
  </div>
  <div class="mb-3">
    <label id="lname" class="form-label">last Name</label>
    <input type="text" id="lname"  class="form-control" formControlName="lastName"  (mouseenter) ="showError2 = true; "  (mouseleave) ="showError2 = false;">
    <div class="form-text"  *ngIf="showError2 &&  lastName.touched && lastName.invalid">
    lastName is required
  </div>
</div>  
<div class="mb-3">
    <label id="email" class="form-label" >email</label>
    <input type="text" id="email" class="form-control" formControlName="email" (mouseenter) ="showError3 = true; "  (mouseleave) ="showError3 = false;">
    <div class="form-text" *ngIf=" showError3 && email.touched && email.invalid">
      Email is required
    
  </div>
</div> 
<div class="mb-3">
      <label id="technology"  class="form-label">technology</label>
    <input type="text" id="technology"  class="form-control" formControlName="technology" (mouseenter) ="showError4 = true; "  (mouseleave) ="showError4 = false;">
    <div class="form-text" *ngIf="showError4 && technology.touched && technology.invalid">
      Technology is required
    </div>
  </div>
    
    <!-- <input type="input" formControlName="address" > routerLink="/employee-list"
    <button formControlName="address" (click)="addAddress()">add</button> -->
    <button type="submit" class="btn btn-primary"[disabled]="!user.valid"  >Submit</button>
    </form>
    